@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.6rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    color-scheme: dark;
    overflow-y: scroll;
  }
}

.perspective {
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
}

audio::-webkit-media-controls-panel {
  @apply rounded-full bg-gradient-to-br from-rose-700 to-orange-500 outline -outline-offset-2 outline-rose-800;
}

audio::-webkit-media-controls-play-button {
  @apply rounded-full fill-white transition hover:bg-red-700;
}

.moving-bg {
  background: linear-gradient(-45deg, orange, #27272a, red);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 0.65em;
}

::-webkit-scrollbar-track {
  background: #585858;
}

::-webkit-scrollbar-thumb {
  /* border: 0.3rem solid transparent; */
  border-radius: 100vw;
  background-color: #323232;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c0c0c;
  /* background: linear-gradient(#b92341, rgba(0, 0, 0, 0.1), #3767c7); */
}

/* loader */
.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #ff3d00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-background {
  outline: none;
  background: url(https://cdn.dribbble.com/users/32512/screenshots/3581570/white_abstract_by_gleb.gif);
  background-size: contain;
  background-position: top left;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.animate-next {
  animation: animate-next 1s ease infinite;
}

@keyframes animate-next {
  0% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@media (max-height: 625) {
  .small-on-landscape {
    height: 40px;
    width: 40px;
  }
}

.blur-custom {
  filter: blur(5rem);
}

@media (min-width: 700px) {
  .blur-custom {
    filter: blur(8rem);
  }
}

@media (min-width: 1100px) {
  .blur-custom {
    filter: blur(12rem);
  }
}

.animate-move1 {
  animation: moveToEachCorner1 linear 10s infinite;
}

.neon-text {
  color: #fee;
  text-shadow: 2px 7px 5px #000;
}

@keyframes moveToEachCorner1 {
  0% {
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: white;
  }
  15% {
    background-color: skyblue;
  }

  25% {
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
    right: 0%;
    bottom: 0%;
  }
  35% {
    background-color: orangered;
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    right: 0%;
    bottom: 0%;
  }
  65% {
    background-color: darkorchid;
  }
  75% {
    top: 100%;
    transform: translateY(-100%);
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
  85% {
    background-color: chocolate;
  }
  100% {
    background-color: white;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
}

.animate-move2 {
  animation: moveToEachCorner2 linear 10s infinite;
}

@keyframes moveToEachCorner2 {
  0% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    background-color: white;
  }
  15% {
    background-color: hotpink;
  }
  25% {
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
  }
  35% {
    background-color: blue;
  }
  50% {
    top: 0%;
    left: 0%;
    transform: translate(0);
  }
  65% {
    background-color: red;
  }
  75% {
    top: 100%;
    transform: translateY(-100%);
    left: 0%;
  }
  85% {
    background-color: bisque;
  }
  100% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    background-color: white;
  }
}

.grid-cols-custom {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

@media (min-width: 500px) {
  .grid-cols-custom {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {
  .grid-cols-custom {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }
}

@media (min-width: 1100px) {
  .grid-cols-custom {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }
}

@media (min-width: 1400px) {
  .grid-cols-custom {
    grid-template-columns: repeat(32, minmax(0, 1fr));
  }
}
