@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%; /* zinc-950 */
    --foreground: 0 0% 98%; /* zinc-50 */

    --card: 240 10% 3.9%; /* zinc-950 */
    --card-foreground: 0 0% 98%; /* zinc-50 */

    --popover: 240 10% 3.9%; /* zinc-950 */
    --popover-foreground: 0 0% 98%; /* zinc-50 */

    --primary: 142.1 76.2% 36.3%; /* green-500 */
    --primary-foreground: 144.9 80.4% 10%; /* green-900 */

    --secondary: 217.2 91.2% 59.8%; /* blue-500 */
    --secondary-foreground: 210 40% 98%; /* zinc-50 */

    --muted: 240 3.7% 15.9%; /* zinc-800 */
    --muted-foreground: 240 5% 64.9%; /* zinc-500 */

    --accent: 240 3.7% 15.9%; /* zinc-800 */
    --accent-foreground: 0 0% 98%; /* zinc-50 */

    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* zinc-50 */

    --border: 240 3.7% 15.9%; /* zinc-800 */
    --input: 240 3.7% 15.9%; /* zinc-800 */
    --ring: 142.1 76.2% 36.3%; /* green-500 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-zinc-200;
    color-scheme: dark;
  }
}

.neo {
  box-shadow:
    -4px -4px 8px #14141431,
    -4px -4px 10px #0c0c0c09,
    4px 4px 14px rgba(255, 255, 255, 0.05),
    4px 4px 10px rgba(255, 255, 255, 0.025);
}

.morph-lg {
  box-shadow:
    4px 4px 8px theme(colors.background.DEFAULT / 0.9),
    6px 6px 15px theme(colors.background.DEFAULT / 0.7),
    8px 8px 30px theme(colors.background.DEFAULT / 0.5),
    -2px -2px 4px theme(colors.background.muted / 0.9),
    -4px -4px 12px theme(colors.background.muted / 0.6),
    -6px -6px 30px theme(colors.background.muted / 0.4);
}

.morph-lg:hover {
  box-shadow:
    4px 4px 8px theme(colors.background.DEFAULT / 0.9),
    6px 6px 15px theme(colors.background.DEFAULT / 0.7),
    8px 8px 30px theme(colors.background.DEFAULT / 0.5),
    -2px -2px 4px theme(colors.background.muted / 0.9),
    -4px -4px 12px theme(colors.background.muted / 0.6),
    -6px -6px 30px theme(colors.background.muted / 0.4),
    -6px -6px 50px theme(colors.background.muted / 0.2);
}

.morph-md {
  box-shadow:
    20px 20px 50px theme(colors.background.DEFAULT),
    -20px -20px 50px theme(colors.background.muted);
}

.morph-sm {
  box-shadow:
    4px 4px 7px theme(colors.background.DEFAULT / 0.1),
    6px 6px 12px theme(colors.background.DEFAULT / 0.3),
    -2px -2px 4px theme(colors.background.muted / 0.7),
    -4px -4px 7px theme(colors.background.muted / 0.1);
}

.morph-none {
  box-shadow: none;
}

.balance {
  text-wrap: balance;
}

.perspective {
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
}

.neon-text-green {
  text-shadow:
    0px 0px 4px theme(colors.primary.light),
    0px 0px 50px theme(colors.primary.DEFAULT),
    0px 0px 90px theme(colors.primary.DEFAULT),
    0px 0px 150px theme(colors.primary.dark),
    0px 0px 200px theme(colors.primary.dark / 0.5);
}

.repeating-bg {
  background: linear-gradient(
    to bottom,
    theme(colors.background.DEFAULT) 0%,
    theme(colors.background.muted) 40%,
    theme(colors.background.DEFAULT) 150%,
    theme(colors.primary.light / 0.1),
    theme(colors.primary.dark / 0.05)
  );
  background-blend-mode: multiply;
}

.moving-bg {
  background: linear-gradient(
    -45deg,
    theme(colors.primary.DEFAULT),
    theme(colors.background.DEFAULT),
    theme(colors.secondary.DEFAULT),
    theme(colors.primary.light),
    theme(colors.primary.dark)
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/* 
::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  background: theme(colors.background.surface);
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: theme(colors.border.dark);
}

::-webkit-scrollbar-thumb:hover {
  background: theme(colors.primary.DEFAULT);
} */

/* loader */
.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow:
    0 2px 0 theme(colors.primary.DEFAULT) inset,
    0 0 10px theme(colors.primary.light / 0.3),
    0 0 20px theme(colors.primary.dark / 0.2);
  animation: rotate 2s linear infinite;
  border: 2px solid theme(colors.primary.light);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-next {
  animation: animate-next 1s ease infinite;
}

@keyframes animate-next {
  0% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@media (max-height: 625) {
  .small-on-landscape {
    height: 40px;
    width: 40px;
  }
}

.blur-custom {
  filter: blur(5rem);
}

@media (min-width: 700px) {
  .blur-custom {
    filter: blur(8rem);
  }
}

@media (min-width: 1100px) {
  .blur-custom {
    filter: blur(12rem);
  }
}

.animate-move1 {
  animation: moveToEachCorner1 linear 10s infinite;
}

.neon-text {
  text-shadow:
    0 0 4px theme(colors.primary.light),
    0 0 10px theme(colors.primary.DEFAULT),
    0 0 20px theme(colors.primary.dark),
    0 0 40px theme(colors.primary.dark / 0.5);
}

@keyframes moveToEachCorner1 {
  0% {
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: white;
  }
  15% {
    background-color: skyblue;
  }

  25% {
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
    right: 0%;
    bottom: 0%;
  }
  35% {
    background-color: orangered;
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    right: 0%;
    bottom: 0%;
  }
  65% {
    background-color: darkorchid;
  }
  75% {
    top: 100%;
    transform: translateY(-100%);
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
  85% {
    background-color: chocolate;
  }
  100% {
    background-color: white;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
}

.animate-move2 {
  animation: moveToEachCorner2 linear 10s infinite;
}

@keyframes moveToEachCorner2 {
  0% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    background-color: white;
  }
  15% {
    background-color: hotpink;
  }
  25% {
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
  }
  35% {
    background-color: blue;
  }
  50% {
    top: 0%;
    left: 0%;
    transform: translate(0);
  }
  65% {
    background-color: red;
  }
  75% {
    top: 100%;
    transform: translateY(-100%);
    left: 0%;
  }
  85% {
    background-color: bisque;
  }
  100% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    background-color: white;
  }
}

.grid-cols-custom {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

@media (min-width: 500px) {
  .grid-cols-custom {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {
  .grid-cols-custom {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }
}

@media (min-width: 1100px) {
  .grid-cols-custom {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }
}

@media (min-width: 1400px) {
  .grid-cols-custom {
    grid-template-columns: repeat(32, minmax(0, 1fr));
  }
}

/*  ------------------------ CLERK STYLES --------------------------- */
/* 
.cl-modalContent {
  @apply my-auto;
}

.cl-signIn-start,
.cl-signUp-start,
.cl-card {
  @apply border-background-surface bg-[#1c1c1c] shadow-xl shadow-green-500/10;
}

.cl-modalCloseButton {
  @apply text-zinc-200;
}

.cl-headerTitle {
  @apply text-zinc-100;
}

.cl-headerSubtitle,
.cl-formFieldSuccessText {
  @apply text-zinc-400;
}

.cl-socialButtons {
  @apply rounded-sm bg-zinc-800;
}

.cl-socialButtonsBlockButtonArrow {
  @apply text-zinc-100;
}

.cl-internal-16pk7q8 {
  @apply tracking-wide text-zinc-100;
}

.cl-dividerLine {
  @apply bg-zinc-400;
}

.cl-dividerText,
.cl-alertText,
.cl-alert {
  @apply border-background-surface text-zinc-400;
}

.cl-identityPreviewText {
  @apply text-zinc-300;
}

.cl-internal-gofy8m,
.cl-internal-17bz5n6 {
  @apply text-zinc-200;
}

.cl-otpCodeFieldInput,
.cl-formFieldLabel {
  @apply border-b-green-700 text-zinc-100 focus:border-b-green-500;
}

.cl-identityPreview {
  @apply border-background-surface;
}

.cl-formFieldInfoText__password {
  @apply text-zinc-400;
}

.cl-formFieldInput {
  @apply border-background-surface bg-zinc-800 text-zinc-100;
}

.cl-formButtonPrimary {
  @apply bg-primary-dark py-1 text-base font-semibold text-white hover:bg-primary-dark focus:border-none;
}

.cl-footerActionText,
.cl-internal-fqx4fd {
  @apply text-zinc-400;
}

.cl-footerActionLink,
.cl-formResendCodeLink,
.cl-headerBackLink,
.cl-headerBackIcon {
  @apply text-green-500 hover:text-green-400;
}

.cl-internal-b3fm6y {
  @apply bg-primary text-black;
}

.cl-formFieldInputShowPasswordButton {
  @apply bg-zinc-600 text-white hover:text-zinc-200;
}

.cl-userPreviewMainIdentifier {
  @apply font-semibold text-white;
}

.cl-userPreviewSecondaryIdentifier,
.cl-profileSectionTitleText,
.cl-internal-3vf5mz,
.cl-internal-1b63r8w {
  @apply text-zinc-300;
}

.cl-userButtonPopoverActionButtonText,
.cl-internal-wkkub3,
.cl-navbarButton,
.cl-internal-of57g,
.cl-breadcrumbsItem {
  @apply text-white;
}

.cl-userButtonPopoverActionButton {
  @apply hover:bg-zinc-800;
}

.cl-userButtonPopoverActionButtonIcon,
.cl-avatarImageActionsUpload,
.cl-internal-lb49to {
  @apply text-green-600;
}

.cl-internal-1xg0u4s {
  @apply border-b-background-surface;
}

.cl-badge {
  @apply bg-primary pt-1 text-black;
} */
